<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <!-- Log Settings -->
    <add key="LogFileLocation" value="Log" />
    <add key="LogFileName" value="BrovadoPolicy_"/>

    <!-- Input/Output File Settings-->
    <add key="InputFileLocation" value="InputFile" />
    <add key="InputFileValidExtension" value=".xml" />
    <add key="OutputFileLocation" value="OutputFile" />

    <!-- File Validation Settings-->
    <add key="ApprovedPolicy" value="AutoPolicy,HomePolicy,FarmPolicy"/>
    <add key="ApprovedProvinces" value="NL,PE,NS,QC,ON,MB,SK,AB,BC,YT,NT,NU"/>
    <add key="ApprovedLimitAmount" value="1000000"/>
    <add key="ApprovedLimitAmount" value="1000000"/>

    <!-- Common Setting-->
    <add key="BotName" value="Policy Processor Bot"/>

  </appSettings>
</configuration>